.card-grid-card {
  margin-top: 20px;
  height: 400px;
}

.card-grid-img {
  width: 100%;
  height: 330px;
}

.card-list-card {
  margin: 10px;
}

.card-list-img {
  height: 150px;
  width: fit-content
}

.card-list-details-col {
  text-align: initial;
  padding-top: 15px;
}

.editAble-title {
  height: 70px
}

.data-view-container {
  margin: 50px
}

.data-view-row {
  margin-top: 50px
}

.data-view-search-input {
  margin-left: 20px;
  width: auto
}

.view-data-icon {
  width: auto;
  height: 25px;
}

.refresh-icon {
  transition: transform 0.5s;
}

.refresh-icon:active {
  transform: rotate(150deg);
}

.clear-filter-icon {
  margin-left: -10px
}

.svg-icon {
  margin-left: 10px;
}

.detailes-card-card {
  margin-top: 50px;
}

.detailes-card-img {
  width: auto;
  height: 50px
}